.background {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(ellipse, #52d2c1, transparent, #29ad9e) #29ad9e;
  }
  