.sv_main .sv_complete_btn {
    background-color: #32A852 !important;
    color: white !important;              
    border: none !important;              
    padding: 10px 20px !important;      
    border-radius: 4px !important;        
    font-weight: bold;

    &:hover {
        background-color: #2A8F4D !important; 
    }
}
