@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './Login/index.scss';
@import './home_page/index.scss';
@import './spotify/index.scss';
@import './Test/index.scss';
@import './admin/foto.scss';
@import './happiness/index.scss';

html, body {
  background-color: #F9F9F9;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}
