html, body {
  background-color: #3ec0af;
  margin: 0;
  padding: 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
  justify-items: center;
  /* Sin overflow ni scroll en este contenedor */
}

.card {
  margin-top: 50px;
  width: 270px;
  height: 300px;
  background: #9b1565;
  transition: all 0.7s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  position: relative; /* Agregado para contener el botón "Ver más" */
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1); /* Ajusta el scale para que no se desborde tanto */
  background: #3ec0af;
}

.first-content {
  height: 100%;
  width: 90%;
  padding-left: 10px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 90%;
  padding-left: 10px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.2rem;
  transform: rotate(0deg);
}

.card-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 2; /* Asegura que el botón se muestre encima del contenido */
  background: rgba(0, 0, 0, 0.5); /* Fondo para mejorar visibilidad */
  padding: 5px 10px;
  border-radius: 5px;
}

.card-link:hover {
  color: #ddd;
}
