
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem; 
    color: maroon; 
    text-align: left; 
    margin-bottom: 20px; 
  }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; 
  color: maroon; 
  text-align: left;
  margin-bottom: 20px; 
}

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem; 
    color: maroon; 
    text-align: left; 
    max-width: 600px; 
  }