.nav-bar {
  display: flex;
  align-items: center;
  background-color: #2A3E5D;
}

.nav-bar__left-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px; 
  margin-left: auto;
}